<div class="my-chart" #chart>

</div>

<div [formGroup]="form">
  <input type="text" formControlName="name">
</div>

<button (click)="doPost()">post</button>

<div class="btn-bar">
  <input (input)="onInput($event)" #input>

  <label for="imask">
    IMask
    <input
      type="text"
      id="imask"
      [imask]="maskOptions"
    >
  </label>
<button (click)="unzoom()">unzoom</button>
<button (click)="toggleData1()">toggle data 1</button>

  IMAGE
  <img #img/>

  CANVAS
<!--  <canvas #canvas></canvas>-->
<!--  <canvas id="canvas1"></canvas>-->


  <a id="dl" download="Canvas.png" href="#">Download Canvas</a>
  <button (click)="createPdf()">create pdf</button>

<div class="qqq" #qqq> PPPPPPPP</div>
  <button (click)="changeLabel()"></button>
<div> </div>
</div>
